.timelineChart {
  position: relative;
}

/* xAxis */
.xAxis, .overViewXAxis {
  text-align: center;
}

.verticalLineText {
  width: 61px;
  height: 18px;
  letter-spacing: -0.4px;
  text-align: center;
}
/* overview axis style */
.overViewXAxisGrid path {
  fill: #e7ebee;
}

/* tooltip  */
.tooltip {
  position: absolute;
  width: 184px;
  height: 73.2px;
  border-radius: 5px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #505050;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip .tooltipDay {
  /* width: 152px; */
  height: 20px;
  opacity: 0.8;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #000000;
}

.tooltip .tooltipLabel {
  /* width: 152px; */
  height: 20px;
  opacity: 0.8;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #000000;
  margin-bottom: 5px
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #a5e2d7;
  border-radius: 5px;
  display: inline-block;
}

.lineDot {
  cursor: pointer;
}