.gLegend text, .xAxis text, .timeToEventLabel {
  font-size: 14px;
  font-family: 'Spoqa Han Sans';
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}

.gLegend text {
  text-anchor: start;
}

.xAxis text {
  text-anchor: middle;
  fill: #6d7884;
}

.timeToEventLabel, #xAxisTitle {
  font-weight: bold;
}
