.wrap_1200 {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.arrow {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 15px;
  padding-right: 18px;
  margin-right: 8px;
}

.card_contatiner {
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 45, 79, 0.16);
  background-color: #002b4f;
  padding: 11px 24px 10px;
}

.card {
  color: #ffffff;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
}