.wrap_1200 {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}

.article {
  width: 282px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 45, 79, 0.16);
  background-color: #ffffff;
  font-size: 0;
  display: inline-block;
  text-align: center;
  margin-right: 24px;
}

.article:last-child {
  margin-right: 0;
}

.article > div {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 52px;
}

.summary_b_42 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #002d4f;
}

.article dd {
  display: block;
  margin-inline-start: 40px;
}

.article dl {
  width: 100%;
  text-align: right;
  padding-right: 44px;
}

.article dl,
.article dd {
  margin: 0;
}

.article dt {
  color: rgba(0, 0, 0, 0.4);
}

.article .body_b_16 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
}