@import "variables.sass"
@import "font.sass"

@mixin placeholder
  &::-webkit-input-placeholder 
    @content
  &:-moz-placeholder           
    @content
  &::-moz-placeholder          
    @content
  &:-ms-input-placeholder      
    @content

$input-height: 64px

form
  width: 100%

  input:not([type=search]):not([type=url]):not([type=hidden]):not([type=button]):not([type=submit])
    border-radius: 8px
    border: solid 1px $grey05
    background-color: $primary_white

    height: $input-height

    width: 100%
    padding: 0 24px
    letter-spacing: -0.5px

    @extend .fs16

    box-sizing: border-box

    @include placeholder
      color: $grey07

    &:focus 
      border-width: 2px
      border-color: $pmblue
      box-shadow: 0 2px 18px 0 rgba(109, 120, 132, 0.28)

    &:disabled
      border-color: $grey05

.field
  label, .label
    @extend .fs14
    color: $grey09
    margin-bottom: 8px

  &:not(:last-child)
    margin-bottom: 20px

  p.error, div.error
    margin-top: 10px
    @extend .fs14
    color: $red01

  p.error:empty
    display: none

  input.error, select.error
    border-width: 2px
    border-color: $red01 !important

.field
  div.info
    display: flex
    align-items: center
    @extend .fs14

    img
      margin-right: 6px

  div.info.info-check
    color: $pmnavy
  
p.form-error, div.form-error
  @extend .fs16
  color: $red01

  display: flex
  align-items: center
  justify-content: center

  img
    margin-right: 10px

.field-icon-right
  position: relative

  input
    padding-right: 34px + 15px + 15px !important

  img
    position: absolute
    right: 0
    top: ($input-height - 34px)/2
    right: 15px

.field-inline
  input:not(:first-child)
    margin-left: 16px

  img, button 
    &:not(:first-child)
      margin-left: 10px

a.link-option
  @extend .fs16
  color: $grey09
  text-decoration: underline


select
  -webkit-appearance: none
  -moz-appearance: none
